            <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p class="copyright">Copyright: <span>2017</span> USC Cybersecurity Club.</p>
                        <p class="copyright copyright-theme">Designed and Developed by <a href="http://www.Themefisher.com">Themefisher</a></p>
                    </div>
                    <div class="col-md-4">
                        <!-- Social Media -->
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/groups/509191465891287/" class="Facebook">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/USCCyberSec" class="Twitter">
                                    <i class="ion-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:listserv@listserv.sc.edu?subject=subscribe&body=SUB%20cybersec%20[first%20name]%20[last%20name]" class="Email">
                                    <i class="ion-email"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
